:host {
  width: 100vw;
  display: flex;
  border-bottom: solid 1px #EEEEEE;
  position: relative;
  height: 200px;

  img {
    width: 100vw;
  }

  nav {
    padding: 0 20px;
    box-sizing: border-box;
    position: absolute;
    bottom: 15px;
    display: flex;
    align-items: center;
    width: 100%;

    a {
      font-size: 18px;
    }

    a.shopping-card {
      font-size: 32px;
      flex: 1;
      text-align: right;
    }
  }
}
