<main>
  <div class="product-list">
    <div class="list">
      @for (product of $products(); track product.id) {
        <div class="item"
             (click)="showProduct(product)">
          <div class="image">
            <img [src]="product.image">
          </div>
          <div class="content">
            <p class="title"
               [title]="product.title">{{ product.title }}</p>

            <p>{{ product.description }}</p>
            <div class="horizontal space-between">
              <div class="rating">{{ product.rating.rate }} / 5 ⭐</div>
              <div class="price">{{ product.price }}€</div>
            </div>
            @if (product.id === $selectedProductId()) {
              <div class="description">{{ product.description }}</div>
            }
          </div>
        </div>
      }
    </div>
  </div>
</main>
